#root {
  width: 100%;
  margin: 0 auto;
}

@font-face {
  font-family: 'PP Mondwest';
  src: url(./assets/fonts/PPMondwest-Regular.otf);
}

@font-face {
  font-family: 'DM Mono';
  src: url(./assets/fonts/DMMono-Regular.ttf);
}


body{
  font-family: 'DM Mono';
}

a{
  text-decoration: none;
  color: #E94826;
}


.main-container{
  overflow-x: hidden;
}

.first-fold{
  display: flex;
  height: 90vh;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  max-width: 1280px;
  margin: 0 auto;
}

h1{
  font-family: 'PP Mondwest';
  font-size: 120px;
  line-height: 108%;
}

h4{
  font-size: 32px;
}

.first-fold-links{
  display: flex;
  flex-direction: row;
  gap: 48px;
}



.books-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.book-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-card{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;

}

.book-card-content{
  width: 45%;
}

.book-container {
  width: 45%;
  height: auto;
  aspect-ratio: 1;
}