#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

@font-face {
  font-family: 'PP Mondwest';
  src: url(./assets/fonts/PPMondwest-Regular.otf);
}

@font-face {
  font-family: 'DM Mono';
  src: url(./assets/fonts/DMMono-Regular.ttf);
}


body{
  font-family: 'DM Mono';
}

first-fold{
  display: flex;
  height: 90vh;
  width: 100vw;
  text-align: 'center';
}

h1{
  font-family: 'PP Mondwest';
  font-size: 120px;
}




.books-flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
}

.book-wrapper {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-card{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

}

.book-card-content{
  width: 45%;
}

.book-container {
  width: 45%;
  height: auto;
  aspect-ratio: 1;
}